html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fd-app {
    width: 100%;
    height: 100%;
}

.fd-header {
    height: 80px;
    width: 100%;
}

.fd-content {
    height: calc(100% - 80px);
    width: 100%;
}

.fd-content>div.fd-leftNav {
    width: 160px;
    height: 100%;
    float: left;
    overflow: auto;
    position: relative;
    z-index: 0;
    padding-top: 10px;
}

.fd-cont {
    width: calc(100% - 145px);
    height: 100%;
    float: right;
    position: absolute;
    z-index: 2;
    right: 0;
    background: #fff;
}
.active{
    background:url(../img/hover_bg.png) no-repeat;
    background-size:100% 100%;
}
.active span{
    background-position-y:-23px;
}
.active a{
    color:#fff !important;
}