.nav{
    height:48px;
    background:#fff;
    display: flex;
    line-height:48px;
    box-shadow:10px 5px 2px #dde4ea;
}
.nav div{
    margin-left:50px;
		font-size: 14px;
}
.pic_1{
    float: left;
    width:24px;
    height:23px;
    background:url(../img/pic.png) no-repeat;
    background-position:-29px 0;
    margin-top: 7px;
    margin-right: 5px;
}
.pic_2{
    float: left;
    width:24px;
    height:23px;
    background:url(../img/pic.png) no-repeat;
    background-position:0 0;
    margin-top: 7px;
    margin-right: 5px;
}
.pic_3{
    float: left;
    width:24px;
    height:23px; 
    background:url(../img/pic.png) no-repeat;
    background-position:-60px 0;
    margin-top: 7px;
    margin-right: 5px;
}
.pic_4{
    float: left;
    width:24px;
    height:23px;
    background:url(../img/pic.png) no-repeat;
    background-position:-93px 0;
    margin-top: 7px;
    margin-right: 5px;
}
.nav_item:hover{
    background:url(../img/hover_bg.png) no-repeat;
    background-size:100% 100%;
}
.nav_item:hover span{
    background-position-y:-23px;
}
.nav_item{
    padding-left:15px;
   
}
.nav_item:hover a{
    color:#fff;
}
.nav_item a{
    color:#99abb4
}
.nav_item:nth-child(1){
    width:130px;
    height:36px;
    margin-top: 7px;
    line-height: 36px;
}
.nav_item:nth-child(2){
    width:166px;
    height:36px;
    margin-top: 7px;
    line-height: 36px;
}
.nav_item:nth-child(3){
    width:145px;
    height:36px;
    margin-top: 7px;
    line-height: 36px;
}
.nav_item:nth-child(3){
    width:170px;
    height:36px;
    margin-top: 7px;
    line-height: 36px;
}
.nav_item:nth-child(4){
    width:130px;
    height:36px;
    margin-top: 7px;
    line-height: 36px;
}