
/* table */
.fd-table-title{
    color: #465a63;
    font-size: 16px;
    font-weight: 600;
    height: 30px;
    line-height: 22px;
    padding-left: 4px;
}
.fd-table-th{
    color: #465a63;
    font-size:14px;
    height: 30px !important;
    background: #ecf1f5;
    line-height: 30px;
}
.fd-table-th span{
    display:inline-block;
    width:30%;
    padding-left:20px;
}
.fd-one{
    display:inline-block;
    background:url(../images/one.png) no-repeat;
    background-size:100% 100%;
    width:14px;
    height:14px;
    margin-right:10px;
}
.fd-two{
    display:inline-block;
    background:url(../images/two.png) no-repeat;
    background-size:100% 100%;
    width:14px;
    height:14px;
    margin-right:10px;
}
.fd-three{
    display:inline-block;
    background:url(../images/three.png) no-repeat;
    background-size:100% 100%;
    width:14px;
    height:14px;
    margin-right:10px;
}
.fd-four{
    display:inline-block;
    background:url(../images/four.png) no-repeat;
    background-size:100% 100%;
    width:14px;
    height:14px;
    margin-right:10px;

}
.fd-five{
    display:inline-block;
    background:url(../images/five.png) no-repeat;
    background-size:100% 100%;
    width:14px;
    height:14px;
    margin-right:10px;

}
.fd-body div{
    display: flex;
    height: calc(33.333% - 20px);
    line-height:calc(33.333% - 20px);
}
.fd-body p{
    width:30%;
    padding-left:20px;
    height: calc(33.333% - 20px);
    line-height:30px;
    
}
.fd-body p:nth-child(3){
    padding-left:35px;
}
.content_top .fd-body,
.content_center .fd-body {
    height:calc(100% - 60px);
}
.content_top .fd-body div,.content_center .fd-body div{
    line-height: 33.333%;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:1px solid #f0f3f5;
    font-size:12px;
}
.content_top .fd-body div p{
    height:100%;
}
.fd-border-right{
    border-right: 1px dashed #d7dadb;
}
.fd-table-up{
    margin-left:5px;
}
.fd-table-down{
    margin-left:5px;
}
.fd-percent-3{
    height:35.333% !important;
}
.fd-percent-5{
    height:20.2222% !important;
    padding-top:0 !important;
}

.fd-percent-5 p span:nth-child(2){
    width:60%;
}
.fd-percent-5 p span:nth-child(3){
    width:30%;
}
.fd-percent-5 p span:nth-child(4){
    width:30%;
}
.fd-percent5-box .fd-table-th span:nth-child(1){
    width:30%;
}
.fd-percent5-box .fd-table-th span:nth-child(2){
    width:20%;
}  
.fd-percent5-box .fd-table-th span:nth-child(3){
    width:20%;
} 
.fd-percent5-box .fd-table-th span:nth-child(4){
    width:20%;
} 
.fd-percent-5 p:nth-child(1){
  width:43%;
}
.fd-percent-5 p:nth-child(2){
    width:20%;
  }