
body{
    background:#e7ecf1;
}
.container{
    width: 100%;
    height:calc(100% - 48px);
    padding:10px;
}
.container .content:nth-child(1) {
	margin-top: 0;
}
.container_left{
    width: calc(33.3333% - 6px);
    height: calc(70% - 5px);
    float: left
}
.container_right{
    width: calc(33.3333% - 6px);
    height: calc(70% - 5px);
    float:right;
}
.container_center{
    width: calc(33.3333% - 6px);
    height: calc(70% - 5px);
    float:left;
	margin: 0 9px;
    box-shadow:10px 5px 5px #dde4ea;
}
.container_bottom{
    width:100%;
    height: calc(30% - 5px);
	margin-top: 10px;
    box-shadow:10px 5px 5px #dde4ea;
}
.clearfix{
    clear: both;
}
.bottom_content {
    width: calc(50% - 5px);
    height: 100%;
    float: right;
}
.bottom_content .content{
    height:100%;
}
.bottom_content:nth-child(1) {
    float: left;
}
.container_left .content,
.container_right .content {
	height: calc(50% - 5px);
}