.fd-topCont,
.fd-botCont,
.fd-centCont {
    width: 100%;
    height: 50%;
}

.fd-topCont,
.fd-centCont {
    box-shadow: 1px 1px 3px 1px #ccc;
}

.fd-botCont,
.fd-centCont {
    padding-top: 10px;
}

.fd-topCont>div,
.fd-botCont>div,
.fd-centCont>div {
    width: 50%;
    height: 100%;
    float: left;
}

.fd-mark {
    width: 100%;
    height: 100%;
}

.fd-mark>div {
    width: 33.33%;
    height: 100%;
    float: left;
}

.fd-mark>div>div {
    height: 16.666%;
    text-align: leftl;
    line-height: 2em;
}

.fd-mark div.fd-title {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.fd-mark div.fd-nameMark {
    font-size: 16px;
    color: #000;
    text-indent: 20px;
}

.fd-mark div.fd-nameMark span {
    float: right;
    margin-right: 40px;
}

body {
    overflow-y: auto;
}