.fd-topCont,
.fd-botCont,
.fd-centCont {
    width: 100%;
    height: 50%;
}

.fd-topCont,
.fd-centCont {
    box-shadow: 1px 1px 3px 1px #ccc;
}

.fd-botCont,
.fd-centCont {
    padding-top: 40px;
}

.fd-topCont>div,
.fd-botCont>div,
.fd-centCont>div {
    width: 50%;
    height: 100%;
    float: left;
}

.fd-mark,
.fd-mark2 {
    width: 100%;
    height: 100%;
}

.fd-mark2 {
    width: 100% !important;
}

.fd-mark>div {
    width: 50%;
    height: 100%;
    float: left;
}

.fd-mark2>div {
    width: 20%;
    height: 100%;
    float: left;
}

.fd-mark>div>div,
.fd-mark2>div>div {
    height: 16.666%;
    text-align: leftl;
    line-height: 2em;
}

.fd-mark div.fd-title,
.fd-mark2 div.fd-title {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.fd-mark div.fd-nameMark,
.fd-mark2 div.fd-nameMark {
    font-size: 16px;
    color: #000;
    text-indent: 20px;
}

.fd-mark div.fd-nameMark span,
.fd-mark2 div.fd-nameMark span {
    float: right;
    margin-right: 40px;
}

body {
    overflow-y: auto;
}

.fd-zhqk {
    margin-top: 20px;
}

.fd-zhqk h3 {
    width: 100%;
    font-size: 22px;
    height: 35px;
    text-align: left;
    line-height: 35px;
    background: #badcf7;
    text-indent: 10px;
    margin-bottom: 10px;
}

.fd-zhqk table {
    width: 100%;
}

th {
    height: 30px;
    text-align: center;
    line-height: 30px;
}

tr,
td {
    width: 12.5%;
    text-align: center;
    line-height: 30px;
    height: 30px;
}

tr {
    box-shadow: 1px 1px 2px 1px #ccc;
}

tr th,
tr td {
    border-right: 1px solid #CCC;
}

tr {
    border-left: 1px solid #ccc;
}

.fd-markLine {
    width: 100% !important;
    height: 100%;
}

.fd-markLine>div {
    height: 100%;
    width: 50%;
    float: left;
}

.fd-markLine>div div.fd-Linetitle {
    width: 50px;
    height: 80%;
    text-align: center;
    padding-left: 20px;
    float: left;
    position: relative;
    background: #cff;
    top: 2%;
}

.fd-markLine>div div.fd-Linetitle span {
    display: block;
    width: 12px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 30px;
    text-align: zz;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.fd-markLine .fd-markcont {
    width: calc(100% - 50px);
    height: 100%;
    float: left;
}

.fd-markLine .fd-markcont>div {
    height: 18%;
    text-align: left;
    text-indent: 10px;
}